@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Yrsa:wght@300;400&family=Prata&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

* {
    margin: 0; 
    padding: 0.25rem; 
    box-sizing: border-box; 
}

body {
    background-color: #000; 
    color: whitesmoke; 
    display: flex;
    align-items: center;
    justify-content: center; 
    min-width: 320px;
    min-height: 100vh;
    font-family: "Poppins", "Yrsa", "Prata", sans-serif; 
}